
@font-face{
    font-family: quicksand-regular;
    src : url(../fonts/quicksand-regular.ttf);
}

@font-face{
    font-family: quicksand-medium;
    src : url(../fonts/quicksand-medium.ttf);
}

@font-face{
    font-family: urban;
    src : url(../fonts/urban.ttf);
}
@font-face{
    font-family: ebrima;
    src : url(../fonts/ebrima.ttf);
}
@font-face{
    font-family: mistral_regular;
    src : url(../fonts/mistral_regular.ttf);
}
img{
    max-width: 100%;
}
body{
  font-family: quicksand-regular;
  line-height: 1.4;
}

h1 , h2 , h3 , h4 , h5{
   font-family: 'urban' , arial;
  line-height: 1.4;
}
.miralFont{
  font-family: 'mistral_regular', cursive;
  font-size: 120%;
    font-weight: normal !important;
}
.mnLogo img {
    max-height: 42px;
}
.mainHeader .navbar {
  font-family: 'ebrima' , arial;
}

.mainHeader {
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: all 500ms ease
}

.mainHeader.darkHeader {
    background-color: #333;
}

.mainHeader .navbar-nav {
    background: transparent
}

.mainHeader .navbar-nav>.nav-item {
    display: flex;
    align-items: center
}

.mainHeader .navbar-nav>.nav-item>.nav-link {
    padding: 0 12px;
    position: relative;
    line-height: 1;
    color: #fff;
    font-size: 14px;
    transition: all 500ms ease;
    font-family: 'ebrima' , arial;
}

.mainHeader .navbar-nav>.nav-item:last-child>.nav-link {
    padding-right: 0
}

.mainHeader .navbar-nav>.nav-item>.nav-link:hover {
    color: #f5f5f5
}

body .mainBtn {
    border: 1px solid #75b7ee;
    border-radius: 0;
    padding: 6px 20px;
    z-index: 5;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
    transition: all 500ms ease;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

body .mainBtn:hover {
    background: rgba(255, 255, 255, 1);
    color: #030d16; 
}

.homeBnr {
    background: url(../images/bg-imge.jpg) no-repeat center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 100px 0 50px;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    color: #fff;
    min-height: 600px;
    background-attachment: fixed;
}

.homeBnr:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4)
}

.homeBnr > div{
  position: relative;
  z-index: 2;
}
.headTitle {
    max-width: 615px;
    margin-left: auto;
    margin-right: auto;
}
.headTitle h2{
  font-family: quicksand-regular;
  font-size: 2.6rem;
      margin: 0;
    line-height: 1;
}
.headTitle h5 {
    font-family: quicksand-regular;
    font-size: 1.3rem;
    position: relative;
    left: 0;
    display: inline-block;
}


img.imgWtxt {
    margin: -38px;
    max-width: 300px;
    margin-left: -20px;
}


.hotelImgs .col4 {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    position: relative;
    margin-bottom: 10px;
    border: 0;
    overflow: hidden;
}

.hotelImgs .col4:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: 500ms ease;
}
.hotelImgs .col4:hover:after{
   opacity: 1;
}
.hotelImgs .col4:last-child{
    margin-right: 0;
}
.hotelImgs .col4 img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: all 500ms ease;
}
.hotelImgs .col4:hover img {
     transform: scale(1.2 , 1.2);
   }
.hoverBx{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 12px;
    text-align: center;
    width: 85%;
    transition: all 500ms ease;
    z-index: 6;
    opacity: 0;
    color: #fff;
    font-family: quicksand-regular;
}
.hotelImgs .col4:hover .hoverBx{
    opacity: 1;
}

.titleHead {
    display: inline-block;
    color: #75b7ee;
    text-transform: uppercase;
    font-size: 1.6rem;
    min-height: 45px;
    text-shadow: 0 0 6px #090909;
}
.titleHead span{
  color: #fff;
  text-transform: none;
}
h4.titleHead .imgWtxt {
        width: 152px;
    margin: -29px;
}
.hotelImgs .col-lg-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

/*.hotelImgs .spclBtn .col4{
  box-shadow: 0 0 18px #fff;
}*/

body .btn-expr{
  color: #030d16;  
  font-family: 'mistral_regular', cursive;
  text-transform: inherit;
  font-size: 22px;
}
.arwImg{
    position: relative;
}
.arwImg:after{
    position: absolute;
    content: "";
    width: 20px;
    height: 12px;
    background: url(../images/arrowImg.png) no-repeat center center;
    background-size: 20px;
    left: 81%;
    top: 62%;
}
.txtImgs {
    position: relative;
    margin-bottom: 1.5rem;
}
.txtImgs img {
    height: 26px;
    max-width: 250px;
    object-fit: contain;
}
.spclBtn .txtImgs img {
    height: 38px;
    position: relative;
    z-index: 5;
}
.shadows{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    background: #fff;
    border-radius: 40%;
    filter: blur(15px);
    width: 60%;
    height: 80%;
    opacity: 0.7;
}

@media (min-width: 1400px){
  .homeBnr {
    padding: 140px 0 30px;
  }
  .headTitle h2 {
    font-size: 3.5rem;
 }
 .headTitle {
    max-width: 780px;
}
.headTitle h5{
    font-size: 1.8rem;
}
.titleHead {
    font-size: 2.2rem;
 }
 .hotelImgs .col-lg-4{
    margin-top: 50px;
 }
 h4.titleHead .imgWtxt {
    width: 201px;
    margin: -28px;
}
.titleHead {
    min-height: 60px;
}
.arwImg:after {
    left: 88%;
    top: 70%;
}
}

@media (min-width: 1600px){
    body .container{
        max-width: 1420px;
    }
    .mainHeader .navbar-nav>.nav-item>.nav-link {
    padding: 0 25px;
    font-size: 18px;
  }
  .mnLogo img {
    max-height: 60px;
  }
  .homeBnr {
    padding: 280px 0 30px;
  }
  .headTitle {
    max-width: 1000px;
 }
 img.imgWtxt {
    margin: -38px;
    max-width: 396px;
    margin-left: -30px;
}
.headTitle h5 {
    font-size: 2.5rem;
}
}

@media (min-width: 1700px){
    body{
  font-size: 1.3rem;
}
  .homeBnr {
    padding: 180px 0 60px;
  }
  .headTitle h2 {
    font-size: 4.1rem;
 }
 .headTitle {
    max-width: 860px;
}
.headTitle h5{
    font-size: 2rem;
}
.titleHead {
    font-size: 2.8rem;
 }
 .hotelImgs .col-lg-4{
    margin-top: 80px;
 }
 img.imgWtxt {
    max-width: 359px;
}
 h4.titleHead .imgWtxt {
    width: 220px;
    margin: -28px;
    margin-left: -38px;
}
.titleHead {
    min-height: 60px;
}
.hotelImgs .col4 {
    width: 360px;
    height: 360px;
    }
    .arwImg:after {
    left: 90%;
    top: 70%;
   }
}

@media (min-width: 2000px){
  .homeBnr {
    padding: 220px 0 70px;
  }
}
@media (max-width: 991px){
  .mainHeader .navbar-nav>.nav-item>.nav-link {
    padding: 20px 0;
    border-bottom: 1px solid #3f3d3d;
    width: 100%;
  }
}

@media (max-width: 767px){
  .headTitle h2{
    font-size: 2rem;
    display: block;
  }
  .headTitle h5{
    display: block;
    margin: 0;
    font-size: 1.1rem;
    left: 0;
    margin-top: 0.5rem;
  }
  img.imgWtxt {
    margin: -52px;
    max-width: 230px;
    margin-left: -20px;
}
.hotelImgs .col-lg-4 {
    margin-top: 20px;
    }
}
@media (max-width: 575px){
    .headTitle h2 {
       font-size: 1.9rem;
    }
    img.imgWtxt {
    margin-right: -10px;
    max-width: 150px;
   }
   .homeBnr .headTitle h5 {
    font-size: 1.2rem;
    margin-top: 0.2rem;
  }
}

@media (max-width: 400px){
    .headTitle h2 {
       font-size: 1.5rem;
    }
    img.imgWtxt {
    margin-right: -10px;
    max-width: 150px;
   }
   .headTitle h5 {
    font-size: 1rem;
    margin-top: 0.2rem;
  }
}

@media (max-width: 350px){
    .headTitle h2 {
       font-size: 1.2rem;
    }
    img.imgWtxt {
    margin-right: -10px;
   }
   .headTitle h5 {
    font-size: 0.8rem;
  }
}

@media (min-height: 600px){  
  .homeBnr {
    padding: 150px 0 30px;
  }
}
@media (min-height: 700px){  
  .homeBnr {
    padding: 180px 0 30px;
  }
}

@media (min-height: 850px){  
  .homeBnr {
    padding: 260px 0 30px;
  }
}

@media (min-height: 1000px){  
  .homeBnr {
    padding: 300px 0 30px;
  }
}

@media (min-height: 1200px){  
  .homeBnr {
    padding: 400px 0 30px;
  }
}

/*comming soon page css*/

.fullBg{
  height: 100vh;
  position: relative;
  background-size: cover;
  padding: 80px 0;
  min-height: 500px;
}
.comingSoon{
  background: url(../images/commingSoon/bg_soon.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}
.posAbslte {
    max-width: 500px;
        width: 100%;
    right: 5%;
    position: relative;
    margin: 30px 0;
}
.posAbslte .headTitle h2 {
    font-family: quicksand-regular;
    font-size: 1.3rem;
    margin: 0;
    line-height: 1;
    text-align: left;
    }
.commingSoontxt{
  color: #fff;
    background: #5d8fbb;
    font-family: urban;
    font-size: 1.6rem;
    position: absolute;
    left: -100px;
    text-transform: uppercase;
    top: 74px;
    transform: rotate(-45deg);
    padding: 8px 20px;
    box-shadow: 0 8px 12px #000;
    width: 100%;
    text-align: center;
    max-width: 400px;
}
   .posAbslte img.imgWtxt {
    margin: -38px;
    max-width: 130px;
    margin-left: -15px;
}
.smallSubHead{
  max-width: 280px;
  margin: 0 auto 40px;
}
.posAbslte h6{
  font-size: 1.3rem;
}
.posAbslte h6 em{
  color: #9fcffc;
}
a.btn.btn-outline-light , .inputFields {
    width: 100%;
    border-radius: 0;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    max-width: 300px;
    background: rgb(83 82 82 / 50%);
    transition: all 500ms;
}
.inputFields {
  width: 100%;
  max-width: 100%;
  border: 1px solid #fff;
  font-size: 1.3rem;
  color: #fff;
  height: 45px;
  text-align: center;
}

button.inputFields{
  width: 50px;
}

.inputFields::-webkit-input-placeholder { /* Edge */
  color: #fff;
}
.inputFields:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}
.inputFields::placeholder {
  color: #fff;
}

a.btn.btn-outline-light:hover , .inputFields:hover:not(input) {
  background: rgba(255,255,255,1);
  color: #000;
}
.inputJoin {
    max-width: 400px;
    margin: auto;
    display: none;
    width: 100%;
}
.blueclr{
  color: #73b4ea;
}
.inputBx {
  width: calc(100% - 60px);
  margin-right: 10px;
}
.socialTabs{
  display: flex;
  justify-content: center;
  margin: 50px auto 10px; 
  list-style: none;
  padding: 0;
}
.socialTabs li{
  margin: 2px 8px;
} 
.socialTabs li a{
  transition: all 500ms ease;
  display: block;
  width: 40px;
}
.socialTabs li a:hover{
  opacity: 0.8;
}
.socialTabs + p{
  letter-spacing: 2px;
}
.commingSoontxts{
  position: absolute;
  top: 0;
  left: 0;  
}
.commingSoontxts img{
  max-height: 220px;
}
.menuBar {
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 28px;
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 4px;
}
.menuBar i{
  transition: all 500ms;
}
.menuBar .bi-x , .sidebarOpen .menuBar .bi-list{
  display: none;
}
.sidebarOpen .menuBar .bi-x{
  display: block;
}

.sidebar{
  position: fixed;
  top: 0;
  left: -102%;
  width: 95%;
  max-width: 400px;
  height: 100vh;
  transition: all 500ms ease-in-out;
  z-index: 999;
  background: url(../images/commingSoon/comimgsoonSidebar.png) no-repeat center top;
  background-size: cover;
}
.sidebarOpen .sidebar{
  left: 0;
}
.showInput .socialTabs{
   margin-top: 20px;
}
.sidebar address{
  background: #fafbfc;
    padding: 30px 20px;
    font-style: normal;
    top: 50%;
    text-align: center;
    color: #000;
    line-height: 1.4;
    position: absolute;
    width: 100%;
    font-size: 1.2rem;
}
.sidebar h6{
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.sidebar .bi-x{
  position: absolute;
  top: 20px;
  right: 20px;
  text-shadow: 0 0 8px #000;
  z-index: 5;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}
.sidebar address a{
  color: inherit;
  text-decoration: none;
}
.sidebar address a:hover , .sidebar address strong{
  color: #73b4ea;
}

@media (min-width: 1500px){
  .smallSubHead {
    max-width: 380px;
    margin: 0 auto 60px;
  }
  .posAbslte .headTitle h2 {
    font-size: 1.7rem;
  }
  .posAbslte img.imgWtxt {
    max-width: 174px;
  }
  .posAbslte h6 {
    font-size: 1.6rem;
}
.posAbslte {
    max-width: 600px;
    }
    a.btn.btn-outline-light {
    margin-top: 1.5rem;
  }
  .commingSoontxts img{
     max-height: 330px;
   }
   .sidebar {
    width: 95%;
    max-width: 40%;
  }
  .posAbslte {
    right: 16%;
  }
  .sidebar address {
    font-size: 1.5rem;
  }
}

@media (max-width: 580px){
  .posAbslte{
    margin: 20px auto;
    padding: 5px 15px;
        right: 0;
  }
  .commingSoontxt {
    font-size: 1.2rem;
    left: -94px;
    top: 36px;
    max-width: 300px;
}
.commingSoontxts img{
  max-height: 170px;
}
}


